.footerShowHideActionContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  cursor: pointer;

  .footerShowHideActionText {
    color: var(--clr-text-color);
  }
}
