@import "@/styles/_variables";

.dropdownContainer {
  text-align: left;
  border: 1px solid $clr-text-color;
  border-radius: 0.5rem;
  position: relative;

  &:hover {
    cursor: pointer;
  }

  .dropdownInput {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
  }
}

.dropdownMenu {
  position: absolute;
  transform: translateY(4px);
  width: $full-width;
  border: 1px solid $clr-text-color;
  border-radius: 0.5rem;
  overflow: auto;
  max-height: 150px;
  background-color: $clr-elements-bg;
  padding: $sp-base 0;
  z-index: 99;
}

.dropdownLabel {
  font-size: $fs-small;
  font-weight: $fw-semi-bold;
  margin: 0 0 -0.75rem 0;
}

.dropdownSelectedValue {
  font-size: $fs-small;
  font-weight: $fw-semi-bold;
  color: $clr-text-color-white;
  padding: $sp-base $sp-medium;
}

.dropdownPlaceholder {
  color: $clr-text-color;
}

.dropdownItem {
  padding-left: $sp-medium;
  padding-top: 5px;
  cursor: pointer;
  color: $clr-text-color;
  text-transform: uppercase;

  &:not(:last-of-type) {
    padding-bottom: 0.75rem;
  }

  &:hover {
    background-color: #9fc3f870;
    color: $clr-text-color-white;
  }

  .selected {
    background-color: $clr-primary;
    color: #fff;
  }
}

.dropdownTags {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.dropdownTagItem {
  background-color: #ddd;
  padding: 2px 4px;
  border-radius: 2px;
  display: flex;
  align-items: center;
}

.dropdownTagClose {
  display: flex;
  align-items: center;
}

.searchBox {
  padding: 5px;
  background-color: #eee;

  & input {
    width: $full-width;
    box-sizing: border-box;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}
