.sidebarFooterThemeToggleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-background);
  padding: 1.25rem 0;
  gap: 1.5rem;
  border-radius: 0.45rem;
}
