@import "@/styles/_variables";

.sidebarFooterThemeToggleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $clr-background;
  padding: 1.25rem 0;
  gap: $sp-medium;
  border-radius: 0.45rem;
}
