@import "@/styles/_variables";

.button {
  all: unset;
  padding: $sp-base;
  text-align: center;
  font-size: $fs-base;
  color: $clr-text-color-white;
}

.primary {
  background-color: $clr-primary;
}

.secondary {
  background-color: $clr-text-color-white;
  color: $clr-primary;
}

.outlined {
  background-color: transparent;
  border: 1px solid $clr-primary;
}

.rounded {
  border-radius: 500rem;
}
