.logoContainer {
  width: 100%;
  margin: var(--sp-sidebar) 0 var(--sp-sidebar) var(--sp-sidebar-left);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;

  .logoBarsContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.25rem;
  }

  .logoTypography {
    display: inline;
    color: var(--clr-text-color-white);
    font-size: var(--fs-xlarge);
    letter-spacing: 0.125rem;
    margin: 0;
    padding: 0;
  }
  .logoBars {
    height: 36px;
    width: 10px;
  }
  .logoBars1 {
    @extend .logoBars;
    background-color: var(--clr-primary);
  }
  .logoBars2 {
    @extend .logoBars1;
    background-color: var(--clr-primary-fade1);
  }
  .logoBars3 {
    @extend .logoBars1;
    background-color: var(--clr-primary-fade2);
  }
}
