@import "@/styles/_variables";

.logoContainer {
  width: $full-width;
  margin: $sp-sidebar 0 $sp-sidebar $sp-sidebar-left;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;

  .logoBarsContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.25rem;
  }

  .logoTypography {
    display: inline;
    color: $clr-text-color-white;
    font-size: $fs-xlarge;
    letter-spacing: $sp-sidebar-letter-spacing;
    margin: 0;
    padding: 0;
  }
  .logoBars {
    height: 36px;
    width: 10px;
    border-radius: 0.25rem;
  }
  .logoBars1 {
    @extend .logoBars;
    background-color: $clr-primary;
  }
  .logoBars2 {
    @extend .logoBars1;
    background-color: $clr-primary-fade1;
  }
  .logoBars3 {
    @extend .logoBars1;
    background-color: $clr-primary-fade2;
  }
}
