.taskOverviewContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--sp-medium);
  width: 500px;

  .taskOverviewTitleAndIconContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .ticketTitle {
      font-size: var(--fs-medium);
      color: var(--clr-text-color-white);
      font-weight: 600;
    }
  }

  .taskOverviewItem {
    margin: 0;
  }

  .ticketDescription {
    font-size: 0.9rem;
    color: var(--clr-text-color);
    line-height: 1.7;
  }

  .subtaskContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;

    .subtaskLabel {
      font-size: var(--fs-small);
      font-weight: 600;
      color: var(--clr-text-color-white);
      margin-bottom: var(--sp-base);
    }

    .subtaskItemContainer {
      background-color: var(--clr-background);
      padding: var(--sp-base);
      width: 460px;

      .subtaskTitle {
        font-size: 0.9rem;
        color: var(--clr-text-color);
      }
    }
  }

  .statusLabel {
    font-size: var(--fs-small);
    font-weight: 600;
    color: var(--clr-text-color-white);
  }

  .taskOverviewDropdownContainer {
    width: 100%;
  }
}
