@import "@/styles/_variables";

.taskOverviewContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: $sp-medium;
  width: 500px;

  .taskOverviewTitleAndIconContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .ticketTitle {
      font-size: $fs-medium;
      color: $clr-text-color-white;
      font-weight: $fw-semi-bold;
    }
  }

  .taskOverviewItem {
    margin: 0;
  }

  .ticketDescription {
    font-size: 0.9rem;
    color: $clr-text-color;
    line-height: 1.7;
  }

  .subtaskContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;

    .subtaskLabel {
      font-size: $fs-small;
      font-weight: $fw-semi-bold;
      color: $clr-text-color-white;
      margin-bottom: $sp-base;
    }

    .subtaskItemContainer {
      background-color: $clr-background;
      padding: $sp-base;
      width: 460px;

      .subtaskTitle {
        font-size: 0.9rem;
        color: $clr-text-color;
      }
    }
  }

  .statusLabel {
    font-size: $fs-small;
    font-weight: $fw-semi-bold;
    color: $clr-text-color-white;
  }

  .taskOverviewDropdownContainer {
    width: 100%;
  }
}
