@import "@/styles/_variables";

.surroundingLabel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: $fs-small;
  font-weight: $fw-semi-bold;
}

.textArea {
  margin-top: 0.75rem;
  background-color: $clr-elements-bg;
  padding: $sp-base $sp-medium;
  border: 1px solid $clr-text-color;
  border-radius: $sp-small;
  color: $clr-text-color-white;

  &::placeholder {
    color: $clr-text-color;
  }
}
