@import "@/styles/_variables";

.footerShowHideActionContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: $sp-base;
  cursor: pointer;

  .footerShowHideActionText {
    color: $clr-text-color;
  }
}
