@import "@/styles/_variables";

.topMenuBarContainer {
  height: 110px;
  background-color: $clr-elements-bg;
  padding: 0.35rem $sp-sidebar-left;

  display: flex;
  align-items: center;
  justify-content: space-between;

  & > p {
    font-size: $fs-large;
    color: $clr-text-color-white;
    margin: 0;
    font-weight: $fw-normal;
  }

  .topMenuButtonContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;

    & > button {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 0.5rem;
      border: none;
      background: transparent;
      background-color: $clr-primary;
      color: $clr-text-color-white;
      padding: $sp-base $sp-sidebar;
      border-radius: 100rem;
      cursor: pointer;
      transition: 150ms ease-in;

      &:hover {
        background-color: $clr-primary-fade2;
      }
    }

    .icon {
      cursor: pointer;
    }
  }
}
