/* COLORS */
$clr-background: #21212e;

$clr-primary: #655fc6;
$clr-primary-fade1: #5351a1;
$clr-primary-fade2: #464581;
$clr-primary-selected: #605bac;

$clr-text-color: #7a8394;
$clr-text-color-white: #fff;

$clr-elements-bg: #2c2c39;

$clr-todo: #4dc0e5;
$clr-in-progress: var($clr-primary);
$clr-done: #6adfae;

/* FONTS */
$fs-xsmall: 0.5rem;
$fs-small: 0.75rem;
$fs-base: 1rem;
$fs-medium: 1.5rem;
$fs-large: 2rem;
$fs-xlarge: 3rem;

$fw-normal: 500;
$fw-semi-bold: 600;
$fw-bold: 700;

/* SPACING */
$sp-sidebar-left: 3rem;
$sp-sidebar: 2rem;
$sp-sidebar-letter-spacing: 0.125rem;

$sp-small: 0.5rem;
$sp-base: 1rem;
$sp-medium: 1.5rem;
$sp-large: 2.5rem;
$sp-xlarge: 4rem;

/* TYPOGRAPHY */
$text-letter-spacing: 0.15rem;

/* FORMS */
$form-control-disabled: #959495;
$form-width: 500px;

/* MODALS */
$modal-content: 600px;

/* SIZES */
$full-width: 100%;
$full-screen-width: 100vw;
$full-screen-height: 100vh;

$footer-height: 200px;
