@import "@/styles/_variables";

.cardContainer {
  background-color: $clr-elements-bg;
  margin-bottom: $sp-medium;
  margin-left: $sp-medium;
  padding: $sp-large $sp-base;
  border-radius: 0.5rem;
  cursor: pointer;

  &:hover {
    background-color: $clr-primary-fade2;
  }

  .cardTitle {
    color: $clr-text-color-white;
    margin-bottom: $sp-small;
    font-weight: $fw-normal;
  }

  .cardSubtasks {
    color: $clr-text-color;
    font-size: $fs-small;
    font-weight: $fw-normal;
  }
}
