.cardContainer {
  background-color: var(--clr-elements-bg);
  margin-bottom: var(--sp-medium);
  margin-left: var(--sp-medium);
  padding: var(--sp-large) var(--sp-base);
  border-radius: 0.5rem;
  cursor: pointer;

  &:hover {
    background-color: var(--clr-primary-fade2);
  }

  .cardTitle {
    color: var(--clr-text-color-white);
    margin-bottom: var(--sp-small);
    font-weight: 500;
  }

  .cardSubtasks {
    color: var(--clr-text-color);
    font-size: var(--fs-small);
    font-weight: 500;
  }
}
