@import "@/styles/_variables";

.sidebarContentContainer {
  flex-grow: 1;

  .sidebarContent {
    display: flex;
    flex-direction: column;

    .sidebarBoards {
      margin-bottom: $sp-medium;
      text-align: left;
      margin-left: $sp-sidebar-left;
      color: $clr-text-color;
      text-transform: uppercase;
      letter-spacing: $text-letter-spacing;
      font-size: $fs-small;
    }

    .sidebarContentAddNewBoard {
      text-align: left;
      margin-left: $sp-sidebar-left;
      margin-top: $sp-base;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: $sp-base;

      & > .icon {
        rotate: -90deg;
      }

      & > button {
        background-color: transparent;
        border: none;
        padding: 0;
        color: $clr-primary-selected;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: $fs-base;
        cursor: pointer;

        &:hover {
          color: $clr-primary-fade2;
        }
      }
    }
  }
}
