@import "@/styles/_variables";

.sidebarFooterContainer {
  height: $footer-height;
  display: flex;
  justify-content: flex-start;
  margin-left: $sp-sidebar-left;
  margin-right: $sp-sidebar-left;
  flex-direction: column;
  gap: $sp-base;
}
