@import "@/styles/_variables";

.surroundingLabel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: $fs-small;
  font-weight: $fw-semi-bold;
}

.textInput {
  margin-top: 0.75rem;
  background-color: $clr-elements-bg;
  padding: $sp-base $sp-medium;
  border: 1px solid $clr-text-color;
  border-radius: 0.5rem;
  color: $clr-text-color-white;

  &::placeholder {
    color: $clr-text-color;
  }
}

.iconAndInputContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: $sp-medium;

  .endIcon {
    cursor: pointer;
  }
}

.inputFullWidth {
  & input {
    width: calc(100% - 3.2rem);
  }
}

.inputWithIcon {
  flex: 1;
}
