@import "@/styles/_variables";

.modal {
  position: absolute;
  inset: 0;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    // width: 100vw;
    min-height: $full-screen-height;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .modalContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    max-width: $modal-content;
    background-color: $clr-elements-bg;
    color: $clr-text-color-white;
    padding: $sp-large;

    border-radius: 0.5rem;

    .closeButton {
      position: absolute;
      top: 10px;
      right: 20px;
      width: 20px;
      height: 20px;
      cursor: pointer;
    }
  }
}
