.modal {
  position: absolute;
  inset: 0;
  z-index: var(--zindex-modal);

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: var(--zindex-modal-backdrop);
  }

  .modalContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    max-width: 600px;
    background-color: var(--clr-elements-bg);
    color: var(--clr-text-color-white);
    padding: var(--sp-large);

    border-radius: 0.5rem;

    .closeButton {
      position: absolute;
      top: 10px;
      right: 20px;
      width: 20px;
      height: 20px;
      cursor: pointer;
    }
  }
}
