@import "@/styles/_variables";

.formControl {
  font-family: system-ui, sans-serif;
  font-size: 0.9rem;
  color: $clr-text-color;
  font-weight: $fw-semi-bold;
  line-height: 1.1;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 1rem;

  & input[type="checkbox"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    appearance: none;
    /* For iOS < 15 to remove gradient background */
    background-color: $clr-text-color;
    /* Not removed via appearance */
    margin: 0;

    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    cursor: pointer;

    display: grid;
    place-content: center;
  }

  & input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em $clr-text-color-white;

    /* Windows High Contrast Mode */
    background-color: CanvasText;

    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  }

  & input[type="checkbox"]:checked {
    background-color: $clr-primary;
  }

  & input[type="checkbox"]:checked::before {
    transform: scale(1);
  }

  & input[type="checkbox"]:focus {
    outline: max(2px, 0.15em) solid currentColor;
    outline-offset: max(2px, 0.15em);
  }

  & input[type="checkbox"]:disabled {
    color: $form-control-disabled;
    cursor: not-allowed;
  }
}

.formControl + .formControl {
  margin-top: 1em;
}

.formControlDisabled {
  color: $form-control-disabled;
  cursor: not-allowed;

  & input[type="checkbox"] {
    cursor: not-allowed;
  }
}

.labelStrikethrough {
  text-decoration: line-through;
}
