.sidebarSectionContainer {
  width: 450px;
  height: 100vh;
  background-color: var(--clr-elements-bg);
  overflow-x: hidden;
  overflow-y: auto;

  &Elements {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
