@import "@/styles/_variables";

.sidebarSectionContainer {
  width: 450px;
  background-color: $clr-elements-bg;
  overflow-x: hidden;
  overflow-y: auto;
  border-right: 1px solid $clr-text-color;

  &Elements {
    display: flex;
    flex-direction: column;
    min-height: $full-screen-height;
  }
}
