@import "@/styles/_variables";

.mainGrid {
  width: 95%;
  margin: auto;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: $sp-base;

  .mainGridElement {
    justify-self: start;
    width: 100%;
  }

  @media screen and (max-width: 1050px) {
    grid-template-columns: 1fr;
    width: 100%;

    .mainGridElement {
      justify-self: start;
      width: 95%;
    }
  }
}
