@import "@/styles/_variables";

.addNewTaskForm {
  width: $form-width;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: $sp-medium;

  &Title {
    font-size: $fs-medium;
    margin-top: 0;
  }

  @media screen and (max-width: 500px) {
    width: $full-screen-width;
  }
}

.subtasksLabel {
  color: $clr-text-color-white;
  font-size: $fs-small;
  font-weight: $fw-semi-bold;
  margin-bottom: -1.5rem;
}
